.slider-wrapper.theme-default
  .nivoSlider{ :id=>"slider" } 
    =image_tag "/images/1/audi-a3-1.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-1.jpg"
    =image_tag "/images/1/audi-a3-2.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-2.jpg"
    =image_tag "/images/1/audi-a3-3.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-3.jpg"
    =image_tag "/images/1/audi-a3-4.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-4.jpg"
    =image_tag "/images/1/audi-a3-5.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-5.jpg"
    =image_tag "/images/1/audi-a3-1.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-1.jpg"
    =image_tag "/images/1/audi-a3-2.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-2.jpg"
    =image_tag "/images/1/audi-a3-3.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-3.jpg"
    =image_tag "/images/1/audi-a3-4.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-4.jpg"
    =image_tag "/images/1/audi-a3-5.jpg", "data-thumb"=>"/images/1/thumb/audi-a3-5.jpg"