// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.modal-car {
  width: 1000px !important;
  height: 610px  !important;
  margin: -305px 0 0 -500px !important;
}

#slider {
  width: 680px;
  height: 510px;  
  margin-top: 10px;
  margin-left: 150px;
}

.theme-default .nivo-controlNav {
  padding: 0;
}


 

@media all and (min-device-height: 1000px) {  
 .modal-car {
  width: 1000px !important;
  height: 826px  !important;
  margin: -400px 0 0 -500px !important;
 }
  
  #slider {
    width: 900px !important;
    height: 675px !important;
    margin-top: 20px !important;
    margin-left: 50px !important;
  }
  
  .theme-default .nivo-controlNav {
    padding: 10px 0 !important;
  }
}







.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  width: 90px !important;
}